<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b4184347-03e9-4672-aede-d902c9fec84c/resourcegroups/ExpressoApi20200223095029ResourceGroup/providers/Microsoft.Web/sites/ExpressoApi20200223095029</ResourceId>
    <ResourceGroup>ExpressoApi20200223095029ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://expressoapi20200223095029.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>expressoapi20200223095029.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ExpressoApi20200223095029</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ExpressoApi20200223095029</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ExpressoApi.Data.ExpressoDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:expressocoffee2db.database.windows.net,1433;Initial Catalog=expressodb;Persist Security Info=False;User ID=dpotest;Password=G@llifr3yT@rdi5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:expressocoffee2db.database.windows.net,1433;Initial Catalog=expressodb;Persist Security Info=False;User ID=dpotest;Password=G@llifr3yT@rdi5;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExpressoApi.Data.ExpressoDbContext, ExpressoApi" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:expressocoffee2db.database.windows.net,1433;Initial Catalog=expressodb;Persist Security Info=False;User ID=dpotest;Password=G@llifr3yT@rdi5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:expressocoffee2db.database.windows.net,1433;Initial Catalog=expressodb;Persist Security Info=False;User ID=dpotest;Password=G@llifr3yT@rdi5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:expressocoffee2db.database.windows.net,1433;Initial Catalog=expressodb;Persist Security Info=False;User ID=dpotest;Password=G@llifr3yT@rdi5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:expressocoffee2db.database.windows.net,1433;initial catalog=expressodb;persist security info=False;user id=dpotest;password=G@llifr3yT@rdi5;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExpressoApi.Data.ExpressoDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:expressocoffee2db.database.windows.net,1433;Initial Catalog=expressodb;Persist Security Info=False;User ID=dpotest;Password=G@llifr3yT@rdi5;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ExpressoApi.Data.ExpressoDbContext" />
  </ItemGroup>
</Project>